{{> head}}

{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Home Page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur vitae rem minima nemo omnis aperiam natus ipsum quam doloremque blanditiis sed unde, assumenda, atque odio. Corrupti laborum eligendi veniam repellendus.</p>
    </div>
    <div class="col-4">
        <img src="assets/img/music-colour-splash.jpg" class="img-thumbnail">
    </div>
</div>


{{> footer}}